:root {
    --main-color: #fca5a5;
    --secondary-color: #fecaca;
    --thirdary-color: #fef2f2;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--thirdary-color);
    font-family: 'Raleway', 'Arial';
}

html, body {
    height: 100%;
}

svg {
    height: 50%;
}

.content {
    display: grid;
    grid-template-rows: 130px auto;
    grid-template-columns: 2;
    height: 100%;
}

.side_nav {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: var(--main-color);
    z-index: 10;
    padding: 20px;
    color: white;
    font-weight: 700;
}

.logo_block {
    height: 70px;
    display: flex;
    font-size: 120%;
    flex-direction: row;
    align-items: center;
}

.side_links {
    display: grid;
    align-content: start;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: var(--secondary-color);
}

.nav_item {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px;
    align-items: center;
}

.nav_item svg {
    justify-self: center;
}

.top_bar {
    grid-column: 2;
    grid-row: 1;
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 0px 3px 10px grey;
    z-index: 5;
}

.top_bar h3 {
    margin: 0;
}

.top_bar_grid {
    display: grid;
    row-gap: 11px;
}

.top_search {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
}

.search_bar input {
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    width: 90%;
    padding: 5px;
    font-family: 'Raleway', 'Arial';
}

.search_misc {
    display: flex;
    justify-content: end;
    align-items: center;
}

.search_misc svg {
    width:30px;
    margin: 5px;
}

.top_personal {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.top_greeting img {
    height:50px;
    object-fit: contain;
    float:left;
    margin-right:5px;
}

.top_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px;
    gap: 5px;
    align-items: center;
    align-content: center;
}

.top_buttons button {
    background-color: var(--main-color);
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    max-width: 100px;
}

.top_buttons button:hover {
    background-color: var(--secondary-color);
    border: 3px solid var(--main-color)
}

.main_corner {
    grid-row: 2;
    padding: 20px;
    background-color: var(--thirdary-color);
    display: grid;
    grid-template-columns: 4fr minmax(200px, 1fr);
    column-gap: 10px;
    align-items: start;
    align-content: start;
}

.projects {
    grid-column: 1;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    align-content: start;
    margin-bottom: 0;
}

.project_card {
    padding: 10px;
    padding-bottom: 0;
    background-color: white;
    border-radius: 0 5% 5% 0;
    box-shadow: 3px 3px 7px grey;
    border-left: 10px solid var(--main-color);
}

.project_card h3 {
    margin-bottom: 5px;
    margin-top: 10px;
}

.icons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    height: 45px;
    margin-bottom: 0;
}

.news {
    grid-column: 2;
    padding: 5px;
    display: grid;
    grid-template-rows: 2;
    align-content: start;
    row-gap: 15px;
}

.news h5 {
    margin-bottom: 0;
    margin-top: 10px;
}

.announcements {
    grid-row: 1;
    border-radius: 5%;
    box-shadow: 3px 3px 12px grey;
    padding: 0px 10px 20px 10px;
}

.announcement_card {
    font-size: 80%;
}

.trending {
    grid-row: 2;
    border-radius: 5%;
    box-shadow: 3px 3px 12px grey;
    padding: 0px 10px 20px 10px;
}

.trending_grid {
    display: grid;
    grid-template-columns: 1;
    gap: 10px;
}

.trending_card {
    font-size: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 15px 25px;
    align-items: center;
}

.trending_card img {
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
    height:30px;
    float:left;
    margin-right:5px;
}

@media screen and (max-width:680px) {
    .side_nav {
        font-size: 80%;
        padding-right: 8px;
    }
    .top_bar {
        font-size: 90%;
    }
    .main_window {
        margin: 0;
    }
    .main_corner {
        grid-row: 2;
        padding: 5px;
        background-color: var(--thirdary-color);
        display: flex;
        flex-direction: column;
    }
    .projects {
        grid-column: none;
        margin: 0;
        font-size: 90%;
    }
    .project_card {
        margin: 0;
    }
    .news {
        grid-column: none;
        padding: 20px;
    }
    .trending_card {
        grid-template-columns: 1fr 5fr;
    }
    .trending_card img {
        height: 30px;
    }
}

@media screen and (max-width:580px) {
    .top_greeting {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .content {
        display: grid;
        grid-template-rows: 180px auto;
    }
    .top_buttons {
        justify-self: end;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: minmax(auto,60px);
        gap: 5px;
        align-items: center;
        align-content: center;
    }
}